//.ant-table th {
//  width: 200px;
//  white-space: nowrap;
//}
//.ant-table td {
    //width: 200px;
    //white-space: nowrap;
//}

.ant-table-thead
    width: 100% !important;



//.ant-table
//    td
//        //white-space: nowrap;

